#loadingScreen{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.img-box{
    position:relative;
    width:350px;
    height:100px;
    margin-bottom:50px;
}
.img-box img{
    width:100px;
    position:absolute;
    border-radius:50%;
    box-shadow:0 7px 15px #161328;
}
.loading-paper{
    left:50%;
    transform:translate(-50%);
    border:3px solid var(--main);
    z-index:1;
}
.loading-scissors{
    right:39px;
    transform:rotate(30deg);
}
.loading-rock{
    left:39px;
    transform:rotate(-30deg);
}
.txt-box{
    display:flex;
    gap:5px;
}