:root{
    --main:#f3f0ff;
    --rock:#8a32a9;
    --paper:#fc4b4b;
    --scissors:#1cabe9;
    --reset:#585858;
}
body{
    margin:0;
    background-color:var(--main);
    height:100vh;
    font-family: "Jersey 20", sans-serif;
    letter-spacing:1px;
    user-select:none;
    /* overflow:hidden; */
}
#loadingScreen{
    position:fixed;
    inset:0;
    z-index:999;
    background-color:#221d3e;
}
#introScreen{
    /* position:fixed;
    inset:0;
    z-index:999; */
    opacity:0;
}
#gameContainer{
    opacity:0;
}
.rock{
    color:var(--rock);
}
.paper{
    color:var(--paper);
}
.scissors{
    color:var(--scissors);
}
#computerScore, #playerScore{
    font-size:x-large;
    width:auto;
    color:var(--main);
    box-shadow:0 4px 7px rgb(180, 173, 173);
}
#computerScore{
    background-color:var(--rock);
    border:1px solid #5a1770;
    border-bottom:6px solid #5a1770;
}
#playerScore{
    background-color:var(--scissors);
    border:1px solid #17536d;
    border-bottom:6px solid #17536d;
}
/* .pop{
    animation:pop 0.3s ease;
}
@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
} */
.header-section{
    margin:15px 0;
}
.play-section{
    margin:10px 0;
}
.player-section{
    margin:20px 0;
}
#computer-move, #player-move{
    border:2px dashed gray;
    box-shadow:0 3px 7px lightgray;
    overflow:hidden;
    height:230px;
}
#comImg, #playerImg{
    width:180px;
}
#comImg{
    transform:rotate(90deg);
}
#playerImg{
    transform:rotate(-90deg);
}
#statement{
    background-color: var(--paper);
    color:var(--main);
    font-size:x-large;
    box-shadow:0 4px 8px rgb(241, 149, 149);
    margin-top:60px;
}
#computer h4, #player h4{
    color:var(--paper);
    width:50%;
    box-shadow:0 1px 7px rgb(208, 203, 203);
}
.yourMove button{
    border:1px solid gray;
    background-color:var(--main);
    cursor:pointer;
    overflow:hidden;
    border-radius:11px;
    box-shadow:0 4px 8px rgb(200, 198, 198);
}
.yourMove button img{
    width:140px;
}
#resetBtn{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-size:20px;
    color:var(--main);
    background-color:var(--reset);
    border:1px solid #0f0f0f;
    border-bottom:5px solid #0f0f0f;
    box-shadow:0 3px 7px rgb(164, 160, 160);
    letter-spacing:1px;
}
@media(max-width: 770px){
    .header-section{
        margin:10px 0;
    }
    .header-section .container h1{
        font-size:xx-large;
    }
    #computerScore, #playerScore{
        font-size:large;
    }
    #comImg, #playerImg{
        width:110px;
    }
    #computer-move, #player-move{
        overflow:hidden;
        height:150px;
    }
    #computer h4, #player h4{
        font-size:large;
    }
    #statement{
        font-size:large;
        margin:10px 0;
    }
    .footer{
        margin-top:20px;
    }
    #resetBtn{
        font-size:small;
    }
    #comImg{
        transform:rotate(180deg);
    }
    #playerImg{
        transform:rotate(0deg);
    }
}
@media(max-width: 580px){ 
    .header-section{
        margin:5px 0;
    }  
    .header-section .container h1{
        font-weight:bold;
        letter-spacing:2px;
    }
    #comImg, #playerImg{
        width:100px;
    }
    #comImg{
        transform:rotate(180deg);
    }
    #playerImg{
        transform:rotate(0deg);
    }
    #computer-move, #player-move{
        overflow:hidden;
        height:150px;
    }
    #statement{
        margin:10px 0;
    }
    .play-section{
        margin:10px 0;
    }
    .player-section{
        margin:15px 0;
    }
    .footer{
        margin:0;
    }
}
@media(max-width: 530px){
    #computer h4, #player h4{
        font-size:small;
    }
    #computerScore, #playerScore{
        font-size:small;
    }
}
@media(max-width: 400px){
    #computer h4, #player h4{
        font-size:small;
    }
    .header-section .container h1{
        font-size:x-large;
    }
}
@media(max-width: 376px){
    #computerScore, #playerScore{
        font-size:x-small;
    }
    #comImg, #playerImg{
        width:80px;
    }
    #computer-move, #player-move{
        overflow:hidden;
        height:100px;
    }
    #computer h4, #player h4{
        font-size:smaller;
    }
    #statement{
        margin:10px 0;
    }
    .play-section{
        margin:0;
    }
    .player-section{
        margin:15px 0;
    }
    .footer{
        margin:0;
    }
    .main-div{
        font-size:small;
    }
}